/* Party-wise color list */

:root{
    /* National Party */
    --ind-party-color       : #DCDCDC;
    --bjp-party-color       : #F37020;
    --inc-party-color       : #19AAED;
    --ics-party-color       : #00FF00;
    --cpi-party-color       : #e70d21;
    --cpim-party-color      : #FF1D15;
    --jd-party-color        : green;
    --jp-party-color        : #1F75FE;
    --ssp-party-color        : #33CC00;


    /* Maharashtra State Party */
    --psp-party-color       : #F15270;
    --ncp-party-color       : #00B2B2;
    --ss-party-color        : orangered;
    --ssubt-party-color     : rgb(253, 143, 104);
    --vba-party-color       : blue;
    --rpi-party-color       : #000066;
    --pjp-party-color       : #A51E25;
    --jss-party-color       : #EC0090;
    --swp-party-color       : #D06767;
    --pwp-party-color       : #e77373;
    --mns-party-color       : #5F2301;
    --scf-party-color       : violet;

    /* Uttar Pradesh State Party */
    --sp-party-color        : #FF2222;


    /* Telangana State Party */
    --aimim-party-color     : #0c6b4b;
}


/* Additional Styling  */
/* National Party */
.party-color-ind{
    background-color: var(--ind-party-color);
}

.party-color-bjp{
    background-color: var(--bjp-party-color);
}

.party-color-inc{
    background-color: var(--inc-party-color);
}

.party-color-ics{
    background-color: var(--ics-party-color);
}

.party-color-jd{
    background-color: var(--jd-party-color);
}

.party-color-jp{
    background-color: var(--jp-party-color);
}

.party-color-cpi{
    background-color: var(--cpi-party-color);
}

.party-color-cpim{
    background-color: var(--cpim-party-color);
}

/* Samyukta Socialist Party */
.party-color-ssp{
    background-color: var(--ssp-party-color);
}


/* Maharashtra State Party */
.party-color-ncp{
    background-color: var(--ncp-party-color);
}

.party-color-ss{
    background-color: var(--ss-party-color);
}

.party-color-ss-ubt{
    background-color: var(--ssubt-party-color);
}

.party-color-vba{
    background-color: var(--vba-party-color);
}

.party-color-rpi{
    background-color: var(--rpi-party-color);
}

/* Prahar Janshakti Party */
.party-color-pjp{
    background-color: var(--pjp-party-color);
}

.party-color-psp{
    background-color: var(--psp-party-color);
}

/* Jan Surajya Shakti */
.party-color-jss{
    background-color: var(--jss-party-color);
}

/* Swabhimani Paksha */
.party-color-swp{
    background-color: var(--swp-party-color);
}

/* Peasants and Workers Party of India */
.party-color-pwp{
    background-color: var(--pwp-party-color);
}

.party-color-mns{
    background-color: var(--mns-party-color);
}

/* Scheduled Castes Federation */
.party-color-scf{
    background-color: var(--scf-party-color);
}

/* Uttar Pradesh State Party */
.party-color-sp{
    background-color: var(--sp-party-color);
}


/* Telangana State Party */
.party-color-aimim{
    background-color: var(--aimim-party-color);
}

